video#camera-stream {
    background-color: black;
    display: none;
}

canvas#hidden-canvas {
    display: none;
}

canvas#output-canvas {
    background-color: #000000;
    max-width: 100%;
    height: auto;
}
