video#camera-stream {
    background-color: black;
    display: none;
}

canvas#hidden-canvas {
    display: none;
}

canvas#output-canvas {
    background-color: #000000;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
